/**
 * @file
 * Subtheme specific CSS.
 */

#block-views-block-jumbotron-block-1, #block-views-block-jumbotron-block-1 .views-row {
    width: 100%;
}

.view-id-jumbotron img {
  width: 100%;
  height: auto;
}

legend {
  font-size: 1rem;
}

.sidebar .block {
  border-color: #fff !important;
}
