/**
 * @file
 * Subtheme specific CSS.
 */

/* menu styles */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #ddd;
}

#block-views-block-jumbotron-block-1, #block-views-block-jumbotron-block-1 .views-row {
  width: 100%;
}

.view-id-jumbotron img {
  width: 100%;
  height: auto;
}

#block-views-block-jumbotron-block-1 .view-content {
  margin-right: 0px;
}

legend {
  font-size: 1rem;
}

.sidebar .block {
  border-color: #fff !important;
}

.site-footer .container-fluid {
    margin-left: 30px;
}

.item-list ul li {
    list-style-type: disc;
}